
.text-title{
    margin: 50px;
    margin-left: 150px;
}
.wrapper-login-pembeli {
    width: 70%;
    border: 1px solid #ffffff;
    background: #ffffff;
    padding: 30px;
    margin: 50px auto;
}



.password{
    margin-top: 30px;
}
.btn-login{
    width: 90%;
    padding: 10px;
    border-radius: 0;
    color: #ffffff;
    background: #f37323;
}
.btn-facebook{
    width: 90%;
    padding: 10px;
    border-radius: 0;
    margin-top: 10px;
}
.btn-google{
    width: 90%;
    padding: 10px;
    border-radius: 0;
    margin-top: 20px;
}